header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav ul li {
    margin-right: 40px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}